pkgbase = lmm-api-rs-git
	pkgdesc = LMM API Rust backend provider (source preview)
	pkgver = 0.1.1.r7.g24093b139
	pkgrel = 1
	url = https://github.com/LIghtJUNction/api.lmm.best
	arch = x86_64
	license = AGPL-3.0-or-later
	makedepends = cargo
	makedepends = git
	depends = gcc-libs
	depends = glibc
	optdepends = postgresql: PostgreSQL database
	optdepends = valkey: cache and rate-limit service
	provides = lmm-api-rs
	provides = lmm-api-provider
	conflicts = lmm-api-rs
	conflicts = lmm-api-rs-bin
	options = !strip
	source = lmm-api-rs::git+https://github.com/LIghtJUNction/api.lmm.best.git#branch=main
	sha256sums = SKIP

pkgname = lmm-api-rs-git
