[submodule "packages/pi-lmm-provider"]
	path = packages/pi-lmm-provider
	url = https://github.com/TokenNotIncluded/pi-lmm-provider.git
[submodule "packages/dsh-lmm-provider"]
	path = packages/dsh-lmm-provider
	url = https://github.com/TokenNotIncluded/dsh-lmm-provider.git
[submodule "packages/lmm-scripts"]
	path = packages/lmm-scripts
	url = https://github.com/TokenNotIncluded/lmm-scripts.git
[submodule "packages/codewhale-lmm-provider"]
	path = packages/codewhale-lmm-provider
	url = https://github.com/TokenNotIncluded/codewhale-lmm-provider.git
