pkgbase = lmm-api-go-bin
	pkgdesc = LMM API Go backend, native CLI, systemd service, and web frontend (prebuilt)
	pkgver = 0.1.50
	pkgrel = 1
	url = https://github.com/LIghtJUNction/api.lmm.best
	arch = x86_64
	arch = aarch64
	license = AGPL-3.0-only
	makedepends = cosign
	depends = ca-certificates
	depends = systemd
	depends = tzdata
	optdepends = postgresql: production database
	optdepends = valkey: cache, rate limiting, and login sessions
	provides = lmm-api-go=0.1.50
	conflicts = lmm-api
	conflicts = lmm-api-bin
	conflicts = lmm-api-git
	conflicts = lmm-api-go
	conflicts = lmm-api-go-git
	noextract = lmm-api-go-0.1.50-linux-amd64.tar.gz
	noextract = lmm-api-go-0.1.50-linux-arm64.tar.gz
	options = !strip
	backup = etc/lmm-api-go/lmm-api-go.env
	source_x86_64 = lmm-api-go-0.1.50-linux-amd64.tar.gz::https://github.com/LIghtJUNction/api.lmm.best/releases/download/go-v0.1.50/lmm-api-go-0.1.50-linux-amd64.tar.gz
	source_x86_64 = lmm-api-go-0.1.50-linux-amd64.tar.gz.sha256::https://github.com/LIghtJUNction/api.lmm.best/releases/download/go-v0.1.50/lmm-api-go-0.1.50-linux-amd64.tar.gz.sha256
	source_x86_64 = lmm-api-go-0.1.50-linux-amd64.tar.gz.sigstore.json::https://github.com/LIghtJUNction/api.lmm.best/releases/download/go-v0.1.50/lmm-api-go-0.1.50-linux-amd64.tar.gz.sigstore.json
	sha256sums_x86_64 = fb1afd3048cdedc1b652f2c5546f6e91287222f603320f0f8f19522e71bfa662
	sha256sums_x86_64 = 6c80ad5f31b83ae8d36bda3e6d8dc8f164d071c945d2b8a9ee0f303d9efbf297
	sha256sums_x86_64 = 22bc1600b99079d400e5b5dff8dd11d20ee3ec1768514da4734201fa5a7ec5ce
	source_aarch64 = lmm-api-go-0.1.50-linux-arm64.tar.gz::https://github.com/LIghtJUNction/api.lmm.best/releases/download/go-v0.1.50/lmm-api-go-0.1.50-linux-arm64.tar.gz
	source_aarch64 = lmm-api-go-0.1.50-linux-arm64.tar.gz.sha256::https://github.com/LIghtJUNction/api.lmm.best/releases/download/go-v0.1.50/lmm-api-go-0.1.50-linux-arm64.tar.gz.sha256
	source_aarch64 = lmm-api-go-0.1.50-linux-arm64.tar.gz.sigstore.json::https://github.com/LIghtJUNction/api.lmm.best/releases/download/go-v0.1.50/lmm-api-go-0.1.50-linux-arm64.tar.gz.sigstore.json
	sha256sums_aarch64 = b1d9dcbcb0b079cf5707dd074babba19c0494cf787d5347e200a0433c199c8cb
	sha256sums_aarch64 = 88e5b71b1bafd9cec08389cd7a4c48e7a003b8b35d279aafd7a17440591cfee5
	sha256sums_aarch64 = 120676786ed7e17609b62445d1b384a053e89c389c5aeccf48469a4cd2c510a5

pkgname = lmm-api-go-bin
