pkgbase = lmm-api-go-bin
	pkgdesc = LMM API Go backend, native CLI, systemd service, and web frontend (prebuilt)
	pkgver = 0.1.51
	pkgrel = 1
	url = https://github.com/LIghtJUNction/api.lmm.best
	arch = x86_64
	arch = aarch64
	license = AGPL-3.0-only
	makedepends = cosign
	depends = ca-certificates
	depends = systemd
	depends = tzdata
	optdepends = postgresql: production database
	optdepends = valkey: cache, rate limiting, and login sessions
	provides = lmm-api-go=0.1.51
	conflicts = lmm-api
	conflicts = lmm-api-bin
	conflicts = lmm-api-git
	conflicts = lmm-api-go
	conflicts = lmm-api-go-git
	noextract = lmm-api-go-0.1.51-linux-amd64.tar.gz
	noextract = lmm-api-go-0.1.51-linux-arm64.tar.gz
	options = !strip
	backup = etc/lmm-api-go/lmm-api-go.env
	source_x86_64 = lmm-api-go-0.1.51-linux-amd64.tar.gz::https://github.com/LIghtJUNction/api.lmm.best/releases/download/go-v0.1.51/lmm-api-go-0.1.51-linux-amd64.tar.gz
	source_x86_64 = lmm-api-go-0.1.51-linux-amd64.tar.gz.sha256::https://github.com/LIghtJUNction/api.lmm.best/releases/download/go-v0.1.51/lmm-api-go-0.1.51-linux-amd64.tar.gz.sha256
	source_x86_64 = lmm-api-go-0.1.51-linux-amd64.tar.gz.sigstore.json::https://github.com/LIghtJUNction/api.lmm.best/releases/download/go-v0.1.51/lmm-api-go-0.1.51-linux-amd64.tar.gz.sigstore.json
	sha256sums_x86_64 = 9445d108ca50f37e1d2b32700075107918bb981c90db38c4678c674ee6d95217
	sha256sums_x86_64 = d01ab6eac0d59529c2a371f815610465b90cb6bc997ddb7bd624c4bf7b441ceb
	sha256sums_x86_64 = 16f8bdc952c468d9ad07fe502b6d105142dc635e04b943b5c4cfa60fb6062042
	source_aarch64 = lmm-api-go-0.1.51-linux-arm64.tar.gz::https://github.com/LIghtJUNction/api.lmm.best/releases/download/go-v0.1.51/lmm-api-go-0.1.51-linux-arm64.tar.gz
	source_aarch64 = lmm-api-go-0.1.51-linux-arm64.tar.gz.sha256::https://github.com/LIghtJUNction/api.lmm.best/releases/download/go-v0.1.51/lmm-api-go-0.1.51-linux-arm64.tar.gz.sha256
	source_aarch64 = lmm-api-go-0.1.51-linux-arm64.tar.gz.sigstore.json::https://github.com/LIghtJUNction/api.lmm.best/releases/download/go-v0.1.51/lmm-api-go-0.1.51-linux-arm64.tar.gz.sigstore.json
	sha256sums_aarch64 = 6544b5be7124082f84204fe0be6ee30e5d7f283b23a49be4c932208b099ee677
	sha256sums_aarch64 = debe46ad28298bbdfea53c0d6a16b0d582fa0abecb8654549628acf512e24aff
	sha256sums_aarch64 = 5681f151824b131fedbe098af6e398c5d94a5679d91d8815b6a73c1e0e78b7fe

pkgname = lmm-api-go-bin
