pkgbase = lmm-api-go-bin
	pkgdesc = LMM API Go backend, native CLI, and systemd service (prebuilt)
	pkgver = 0.2.16
	pkgrel = 1
	url = https://github.com/LIghtJUNction/api.lmm.best
	arch = x86_64
	arch = aarch64
	license = AGPL-3.0-only
	makedepends = cosign
	depends = ca-certificates
	depends = coreutils
	depends = libarchive
	depends = pacman
	depends = paru
	depends = sudo
	depends = systemd
	depends = tzdata
	depends = util-linux
	optdepends = postgresql: production database
	optdepends = valkey: cache, rate limiting, and login sessions
	provides = lmm-api-go=0.2.16
	provides = lmm-api-provider
	conflicts = lmm-api-go
	conflicts = lmm-api-go-git
	noextract = lmm-api-go-0.2.16-linux-amd64.tar.gz
	noextract = lmm-api-go-0.2.16-linux-arm64.tar.gz
	options = !strip
	backup = etc/lmm-api-go/lmm-api-go.env
	source = lmm-api-go-package.sh
	sha256sums = 655e9346a6d87baa1cb81d97dcc412243d7ee305f90371b99d89033ea0e99bb1
	source_x86_64 = lmm-api-go-0.2.16-linux-amd64.tar.gz::https://github.com/LIghtJUNction/api.lmm.best/releases/download/go-v0.2.16/lmm-api-go-0.2.16-linux-amd64.tar.gz
	source_x86_64 = lmm-api-go-0.2.16-linux-amd64.tar.gz.sha256::https://github.com/LIghtJUNction/api.lmm.best/releases/download/go-v0.2.16/lmm-api-go-0.2.16-linux-amd64.tar.gz.sha256
	source_x86_64 = lmm-api-go-0.2.16-linux-amd64.tar.gz.sigstore.json::https://github.com/LIghtJUNction/api.lmm.best/releases/download/go-v0.2.16/lmm-api-go-0.2.16-linux-amd64.tar.gz.sigstore.json
	sha256sums_x86_64 = d07cf7e1bc24c75b6ca4fd5d27015aaa6bd7762be53a4d0b7dbbef0dade64e03
	sha256sums_x86_64 = 3fb206f495521570304224639414a385522061a1bc71575e18bfc4798ea992d3
	sha256sums_x86_64 = 99981766874fbc309ba974eb214a32806b6a699642ca2b94eeecd8c0cb6fc699
	source_aarch64 = lmm-api-go-0.2.16-linux-arm64.tar.gz::https://github.com/LIghtJUNction/api.lmm.best/releases/download/go-v0.2.16/lmm-api-go-0.2.16-linux-arm64.tar.gz
	source_aarch64 = lmm-api-go-0.2.16-linux-arm64.tar.gz.sha256::https://github.com/LIghtJUNction/api.lmm.best/releases/download/go-v0.2.16/lmm-api-go-0.2.16-linux-arm64.tar.gz.sha256
	source_aarch64 = lmm-api-go-0.2.16-linux-arm64.tar.gz.sigstore.json::https://github.com/LIghtJUNction/api.lmm.best/releases/download/go-v0.2.16/lmm-api-go-0.2.16-linux-arm64.tar.gz.sigstore.json
	sha256sums_aarch64 = e3c5f40997c5e31327fd8f5e2f8e560945ace9d510aabb9e872eb0658ee68908
	sha256sums_aarch64 = 8817f150411477f9adbb62b666b550e498b96fe49db4295cec78ec856e7ceebb
	sha256sums_aarch64 = 8d124dffcc62727ad1dc36c3d9f7021ed5601aea5962cfdaee3f45ba02e5cfbd

pkgname = lmm-api-go-bin
