pkgbase = lmm-api-go-git
	pkgdesc = LMM API Go backend, native CLI, systemd service, and web frontend (git)
	pkgver = 0.1.20.r1291.g1db462ebe
	pkgrel = 1
	url = https://github.com/LIghtJUNction/api.lmm.best
	arch = x86_64
	arch = aarch64
	license = AGPL-3.0-only
	makedepends = bun
	makedepends = git
	makedepends = go>=1.25.1
	depends = ca-certificates
	depends = coreutils
	depends = libarchive
	depends = pacman
	depends = paru
	depends = sudo
	depends = systemd
	depends = tzdata
	depends = util-linux
	optdepends = postgresql: production database
	optdepends = valkey: cache, rate limiting, and login sessions
	provides = lmm-api-go
	provides = lmm-api-provider
	conflicts = lmm-api-go
	conflicts = lmm-api-go-bin
	options = !strip
	backup = etc/lmm-api-go/lmm-api-go.env
	source = lmm-api-go::git+https://github.com/LIghtJUNction/api.lmm.best.git#branch=main
	source = lmm-api-go-package.sh
	sha256sums = SKIP
	sha256sums = 655e9346a6d87baa1cb81d97dcc412243d7ee305f90371b99d89033ea0e99bb1

pkgname = lmm-api-go-git
