[Unit]
Description=Monthly DB-IP Lite GeoIP2 Country database update for lmm-api

[Timer]
OnCalendar=*-*-02 03:15:00
Persistent=true
RandomizedDelaySec=6h
AccuracySec=1h
Unit=geoip2-country-update.service

[Install]
WantedBy=timers.target
