pkgbase = lmm-api-go
	pkgdesc = LMM API Go backend, native CLI, systemd service, and web frontend
	pkgver = 0.1.1.r490.g112174124
	pkgrel = 1
	url = https://github.com/LIghtJUNction/api.lmm.best
	arch = x86_64
	arch = aarch64
	license = AGPL-3.0-only
	makedepends = bun
	makedepends = git
	makedepends = go>=1.25.1
	depends = ca-certificates
	depends = coreutils
	depends = libarchive
	depends = pacman
	depends = paru
	depends = sudo
	depends = systemd
	depends = tzdata
	depends = util-linux
	optdepends = postgresql: production database
	optdepends = valkey: cache, rate limiting, and login sessions
	provides = lmm-api=0.1.1.r490.g112174124
	conflicts = lmm-api
	conflicts = lmm-api-bin
	conflicts = lmm-api-git
	conflicts = lmm-api-go-bin
	conflicts = lmm-api-go-git
	options = !strip
	backup = etc/lmm-api-go/lmm-api-go.env
	source = lmm-api-go::git+https://github.com/LIghtJUNction/api.lmm.best.git#commit=11217412480e81b58f96f2b9889bd317120ff8f0
	sha256sums = SKIP

pkgname = lmm-api-go
